{% extends 'base.html.twig' %}

{% block body %}

    <h1> Création d'un nouveau Vin </h1>
    <br>

    {# éclaté le formulaire avec un form Start et un form end ( vois la documentation!!)  #}
    {{ form(formNew) }}
 
{% endblock %}
